{% extends "base.html" %}

{% block page_container %}
<div class="readme-container">
    <div class="readme-header">
        <div class="readme-tabs">
            <button class="readme-tab active" onclick="showContent('readme')">
                <span class="tab-icon">📖</span>
                <span id="readme-tab">{{ ui_text.zh.readme_tab }}</span>
            </button>
            <button class="readme-tab" onclick="showContent('conduct')">
                <span class="tab-icon">🤝</span>
                <span id="conduct-tab">{{ ui_text.zh.conduct_tab }}</span>
            </button>
            <a href="https://codekitchen.community/c/blog" class="readme-tab">
                <span class="tab-icon">📝</span>
                <span id="blog-tab">{{ ui_text.zh.blog_tab }}</span>
            </a>
            <a href="{{ site.home_url }}" target="_blank" class="readme-tab">
                <span class="tab-icon">🔙</span>
                <span id="home-tab">{{ ui_text.zh.home_tab }}</span>
            </a>
        </div>
        <div class="readme-controls">
            <a class="icon-btn" style="font-size: 14px; transform: scaleX(-1); text-decoration: none;" href="https://github.com/codekitchen-community/pages/tree/main/readme" target="_blank">
                ✏️
            </a>
            <div class="outline-dropdown">
                <button class="icon-btn" onclick="toggleOutline()" style="font-size: 18px;">
                    ☰
                </button>
                <div class="outline-menu" id="outline-menu">
                    <div class="outline-menu-header">
                        <span id="outline-title">{{ ui_text.zh.outline_title }}</span>
                    </div>
                    <div class="outline-menu-content" id="outline-content">
                        <!-- Outline items will be dynamically generated -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <!-- README Content -->
        <div id="readme-content" class="content active">
            
            <!-- English README Content -->
            <div id="readme-english" class="content">
                {% include page_name + '/readme_section.html' %}
            </div>

             <!-- Chinese README -->
            <div id="readme-chinese" class="content active">
                {% include page_name + '/readme_section_zh.html' %}
            </div> 
        </div>

        <div id="conduct-content" class="content">
            <!-- English Code of Conduct Content -->
            <div id="conduct-english" class="content">
                {% include page_name + '/conduct_section.html' %}
            </div>

            <!-- Chinese Code of Conduct -->
            <div id="conduct-chinese" class="content active">
                {% include page_name + '/conduct_section_zh.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}